@mixin text-gradient($from, $to, $deg: 45deg, $alpla: 100%) {
    background: -webkit-linear-gradient($deg, $from, $to $alpla);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}