#award {
  .card {
    background-color: transparent;
    .card-body {
      padding: 1rem 0;
    }
    .card-title {
      text-transform: uppercase;
      color: #11396f;
      font-size: rem(18);
    }
  }
}
.over-view-bg{
  background-color: rgba(17,57,111,0.9);
}

#shareholders {
  .col-md-6{
    &:first-child{
      padding-right: 1.5rem;
    }
    &:last-child{
      padding-left: 1.5rem;

    }
  }
  .card {
    .card-body {
      padding: 1rem 0;
    }
  }
}
.manager-nav{
  .navbar{
    padding: 0;
    .nav-item{
      &.active{
        a{
          color: #00a8df;
          text-decoration: underline;
        }
      }
    .nav-link{
      padding: 0 0.5rem;
      color: #7B7C7E;
      &:hover{
        color: #00a8df;
        text-decoration: underline;
      }
    }
  }}
}
.document {
  // font-size: rem(16);
  // line-height: (28/16);
  // h3 {
  //   font-size: rem(36);
  //   font-weight: bold;
  //   margin-bottom: rem(20);
  // }
  // p {
  //   margin-bottom: rem(30);
  //   text-align: justify;
  //   &:last-child {
  //     margin-bottom: rem(0);
  //   }
  // }
  // img {
  //   max-width: 100%;
  // }
  blockquote {
    position: relative;
    padding-left: rem(42);
    padding-right: rem(38);
    &:before,
    &:after {
      content: "";
      background: url($image-path + "icons/quote.svg") no-repeat;
      background-size: contain;
      display: block;
      width: rem(36);
      height: rem(33);
      position: absolute;
      top: rem(7);
      left: 0;
    }
    &:after {
      bottom: rem(30);
      top: inherit;
      right: rem(-20);
      left: inherit;
      @include media-breakpoint-down(md) {
        right: rem(0);
      }
    }
    h4 {
      color: #043482;
      font-size: rem(40);
      font-weight: bold;
      margin: rem(50) 0;
      @include media-breakpoint-down(md) {
        margin: rem(20) 0;
        font-size: rem(30);
      }
    }
    @include media-breakpoint-down(md) {
    }
  }
}

.sliderManager{
  visibility: hidden;
  max-height: 0;  
  &.active{
    visibility: unset;
    max-height: unset;  }
  .slick-slide{
    margin: 0 10px;
  }
  &__item{
      margin-bottom:rem(20);
      border: 1px solid #ddd;
      padding: 12px;
      &__image{
          position: relative;
          >h4{
              position: absolute;
              left: rem(20);
              bottom: rem(20);
              font-size: rem(14);
              color: #fff;
              margin: 0;
              background: rgba(0, 0, 0, 0.5);
              padding: rem(7) rem(10);
              font-weight: normal;
          }
          .image{
              >a{
                @include bg-box(406,364); 
                background-position: center top;
              }
          }
      }
    
      .info{
          // background:#f9f9f9;
          // padding:rem(20);
          .title{
              font-family: "Arial";
              font-weight: 800;
              font-size: rem(22);
              color: #11396F;
              letter-spacing: (75/1000)*1rem;
              margin-bottom: rem(10);
              line-height:(24/16);
              // height:(24/16)*1em;
              display: -webkit-box;
              // -webkit-line-clamp: 1;
              // -webkit-box-orient: vertical;
              // text-overflow: ellipsis;
              overflow: hidden;
                  @include transition();
                  &:hover{
                      color:$color-hover;
                      text-decoration: none;
                  }
          }
          p{
              line-height:(24/16);
              // height:(24/16)*2em;
              display: -webkit-box;
              // -webkit-line-clamp: 2;
              // -webkit-box-orient: vertical;
              // text-overflow: ellipsis;
              overflow: hidden;
              margin-bottom: rem(25);
          }
          
      }
      
      .name {
          margin-top: rem(0);
          // border-bottom: 1px solid #e1e1e1;
          margin-bottom: rem(20);
          padding-bottom: rem(20);
          font-size:rem(16);
          h5{
              margin:0;
              font-weight:bold;
              font-size:rem(16);    padding-bottom: rem(8);
          }
          p{
              margin:0;
              height: inherit;
              -webkit-line-clamp: 1;
          }
      }
      .btn-link{
          font-size:rem(14);
          background-color: #55ADE2;
          color: #fff;
          padding: 10px;
          &:hover{
              background-color:#11396F;
          }
      }
      &:hover{
          .info{
              .title{
                  color:#11396F;
              }
          }
      }
      .info-manager{
          .title{
              font-size: rem(20);
          }
      }

  }
}

#portfolio{
}
 
 /* Tabs menu */
 

@media (max-width: 480px) {
  .listFund__item {
    .row {
      > div:first-child {
        text-align: center;
        padding-bottom: rem(20);
      }
    }
  }
  .break480 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
