.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;
}
.MultiCarousel {
  height: 189px;
}
.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: #f1f1f1;
  color: #666;
}
.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 20px);
}
.MultiCarousel .leftLst {
  left: 0;
}
.MultiCarousel .rightLst {
  right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #ccc;
}
.ourCareer {
  padding-bottom: rem(60);
  @include media-breakpoint-down(md) {
    padding-bottom: rem(20);
  }

  .titleHeading--content {
    margin-bottom: rem(60);
    h1 {
      font-weight: bold;
    }
  }
  .career-link {
    padding: rem(7) 0 0 0;
    margin: 0;
    list-style: none;
    font-size: rem(16);
    font-weight: normal;
    letter-spacing: 0;
    color: $color-title;
    font-family: "roboto";
    li {
      display: inline-block;
      vertical-align: middle;
      padding-right: rem(30);
      i {
        color: $color-hover;
        font-size: rem(14);
        margin-right: 7px;
      }
      span {
        > span {
          color: #e50b0b;
        }
      }
    }
  }
  .top-list {
    list-style: unset;
  }
  .heading-content {
    font-size: rem(16);
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    padding-bottom: rem(20);
    padding-left: rem(20);
    &:before {
      content: "\f069";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: rem(6);
      left: 0;
      color: #00a8df;
      font-size: rem(14);
    }
  }
  .document {
    ul {
      padding: 0;
      list-style: none;
      margin-bottom: rem(30);
      li {
        position: relative;
        padding-left: rem(20);
        margin-bottom: rem(1);
        line-height: (30/16);
        &:before {
          width: rem(7);
          height: rem(7);
          background: #b4b4b4;
          content: "";
          position: absolute;
          left: 0;
          top: rem(11);
          border-radius: 50%;
        }
      }
    }
  }
}

.searchJob {
  padding: rem(30);
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.09);
  .row {
    margin-left: -7px;
    margin-right: -7px;
    .col-md-3 {
      flex: 0 0 28%;
      max-width: 28%;
      padding-left: 7px;
      padding-right: 7px;
      &:last-child {
        flex: 0 0 16%;
        max-width: 16%;
      }
      @include media-breakpoint-down(md) {
        flex: 0 0 50% !important;
        max-width: 50% !important;
      }
      @media (max-width: 360px) {
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
    }
  }
  .form-group {
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
      margin-top: rem(7);
      margin-bottom: rem(7);
    }
  }
  .btn-search {
    i {
      position: absolute;
      left: rem(13);
      top: rem(17);
    }
  }
}

.careerList {
  margin-top: rem(60);
  margin-bottom: rem(60);
  &.slick-slider {
    margin-left: rem(-10);
    margin-right: rem(-10);
    margin-top: 0;
    .careerList__item {
      margin-bottom: 0;
    }
  }
  &__item {
    margin-bottom: rem(20);
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0); //@include transition();
    > .row {
      -webkit-box-align: center !important;
      -ms-flex-align: center !important;
      align-items: center !important;
      > div {
        @media (max-width: 360px) {
          padding-top: rem(5);
          padding-bottom: rem(5);
        }
      }
      .col-md-2 {
        &:last-child {
          @media (min-width: 360px) {
            text-align: right;
          }
        }
      }
    }
    .title {
      > a {
        color: $color-title;
        font-weight: bold;
        font-size: rem(18);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        line-height: (30/18);
        max-height: (30/18) * 2em;
        overflow: hidden;
        text-decoration: none;
        font-family: $font-custom;
        @include transition();
      }
    }
    i {
      font-size: rem(14);
      color: #b0b0b0;
      margin-right: rem(10);
    }
    .btn-view-2 {
      color: $color-hover;
      font-weight: bold;
      border: 1px solid #e8e8e9;
      font-size: rem(16);
      padding: rem(5) rem(10);
      text-decoration: none;
      display: inline-block;
      font-family: $font-custom;
    }
    &:hover {
      background: #fff;
      box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.09);
      .title {
        > a {
          color: $color-hover;
        }
      }
    }
  }
  .btn-load {
    margin-top: rem(30);
    @include media-breakpoint-down(md) {
      margin-top: rem(0);
    }
  }
  .showBox {
    display: none;
  }
  .slick-slide {
    > div {
      padding: rem(10);
      .title {
        margin-bottom: rem(13);
      }
      .btn-view-2 {
        margin-top: rem(13);
      }
    }
  }
}
.career-btn {
  background-color: #55ade2;
  border-radius: unset;
  color: white;
}
.career {
  .navLink {
    border: 0px;
    li > a {
      background: transparent;
      color: #7b7c7e;
      min-width: unset;
      padding: unset;
    }
    li > a:after {
      background: transparent;
    }
    li > a.active {
      color: #00a8df;
    }
  }
}
#career_oppotunities {
  ul {
    li {
      margin-bottom: 10px;
    }
  }
}

#subsidiary {
  .listLease__item .info .title {
    color: #7b7c7e;
    font-weight: 300;
    padding: rem(20) 0;
    margin-bottom: 0px !important;
    &:hover {
      color: #55ade2;
    }
  }
  article {
    .row {
      .col-md-6 {
        margin: rem(30) 0;
      }
    }
  }

  ul {
    li {
      margin-bottom: 15px;
    }
  }
}
.sus-title {
  color: #11396f;
  font-weight: bold;
}
.office-css {
  .loader {
    position: relative;
    height: 40px;
    width: 100%;
    .col-bar {
      display: inline-block;
      width: 13.8%;
      position: relative;
      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          bottom: ($i) * 20px;
        }
      }
    }
    &__bar {
      transform-origin: center bottom;
      border-top: 5px solid #7b7c7e;
      border-left: 5px solid #7b7c7e;
      display: block;
      text-align: center;
      position: absolute;
      width: 100%;
      padding: 15px 0px;
      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid #7b7c7e;
        top: -20px;
        right: 0px;
      }
      &:hover {
        border-top: 5px solid #55ade2;
        border-left: 5px solid #55ade2;
        color: #55ade2;
        &::after {
          border-right: 10px solid #55ade2;
        }
      }
    }
  }
}
#collapseOne-2 {
  .accordion .card-body {
    padding-top: 10.375rem;
  }
}
.plan-css {
  .loader {
    position: relative;
    height: 40px;
    width: 100%;
    .col-bar {
      display: inline-block;
      width: 9%;
      position: relative;
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          bottom: ($i) * 20px;
        }
      }
    }
    &__bar {
      transform-origin: center bottom;
      border-top: 5px solid #7b7c7e;
      border-left: 5px solid #7b7c7e;
      display: block;
      text-align: center;
      position: absolute;
      width: 100%;
      padding: 15px 0px;
      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid #7b7c7e;
        top: -20px;
        right: 0px;
      }
      &:hover {
        border-top: 5px solid #55ade2;
        border-left: 5px solid #55ade2;
        color: #55ade2;
        &::after {
          border-right: 10px solid #55ade2;
        }
      }
    }
  }
}
#h-t-apply {
  border: solid 1px #55ade2;
  padding: 20px;
  border-radius: 10px;
  h5 {
    color: #55ade2;
  }
}
.bg-full {
  .image {
    border-radius: 10px;
  }
}
a.text-gray {
  &.active {
    color: #55ade2;
  }
  color: #7b7c7e;
  &:hover {
    color: #55ade2;
  }
}
h4.list-title {
  background-color: #55ade2;
  padding: 5px 10px;
  font-size: 20px;
  color: white;
  width: fit-content;
}
#recruitment {
  position: relative;
}
.list-unstyled {
  h5 {
    font-weight: bold;
  }
  li {
    i {
      margin-right: 5px;
    }
  }
}
#vacancies {
  .nav {
    display: block;
  }
  .tabs-left,
  .tabs-right {
    border-bottom: none;
    padding-top: 2px;
  }
  .tabs-left {
  }
  .tabs-right {
  }
  .tabs-left > li,
  .tabs-right > li {
    float: none;
    margin-bottom: 2px;
  }
  .tabs-left > li {
    margin-right: -1px;
  }
  .tabs-right > li {
    margin-left: -1px;
  }
  .tabs-left > li > a.active,
  .tabs-left > li > a.active:hover,
  .tabs-left > li > a.active:focus {
    border-right-color: transparent;
    color: #00a8df;
    cursor: pointer;
  }

  .tabs-right > li.active > a,
  .tabs-right > li.active > a:hover,
  .tabs-right > li.active > a:focus {
    border-left-color: transparent;
  }
  .tabs-left > li > a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
    color: #7b7c7e;
    &:hover {
      color: #00a8df;
    }
  }
  .tabs-right > li > a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
  }
  .sideways {
    margin-top: 50px;
    border: none;
    position: relative;
  }
  .sideways > li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px;
  }
  .sideways > li > a {
    border-bottom: 1px solid #ddd;
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
  }
  .sideways > li.active > a,
  .sideways > li.active > a:hover,
  .sideways > li.active > a:focus {
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd;
  }
  .sideways.tabs-left {
    left: -50px;
  }
  .sideways.tabs-right {
    right: -50px;
  }
  .sideways.tabs-right > li {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .sideways.tabs-left > li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .row {
    align-items: center;
    &:first-child {
      align-items: unset;
    }
    .col-md-4:last-child {
      text-align: right;
    }
  }
}
.stairs {
  .first-place {
    background-color: #e9031f;
    height: 50px;
    width: 130px;
    margin: 0 0px 0px 1050px;
    line-height: 100px;
    font-size: 32px;
    font-weight: bold;
    color: white;
  }

  .second-place {
    background-color: #0804f9;
    height: 100px;
    width: 130px;
    margin: 0px 0px 0px 800px;
    line-height: 45px;
    font-size: 32px;
    font-weight: bold;
    color: white;
  }

  .next-place {
    background-color: #e9031f;
    height: 100px;
    width: 130px;
    margin: 0px 0px 0px 550px;
    line-height: 100px;
    font-size: 32px;
    font-weight: bold;
    color: white;
  }

  .next-place2 {
    background-color: #0804f9;
    height: 100px;
    width: 130px;
    margin: 0px 0px 0px 300px;
    line-height: 100px;
    font-size: 32px;
    font-weight: bold;
    color: white;
  }

  .next-place3 {
    background-color: #e9031f;
    height: 100px;
    width: 130px;
    margin: 0px 0px 0px 50px;
    line-height: 100px;
    font-size: 32px;
    font-weight: bold;
    color: white;
  }

  .first-place:hover {
    transform: translate(0px, -20px);
    transition: ease-in-out 0.1s;
    background-color: #dcdcdc;
    color: #e9031f;
  }

  .second-place:hover {
    transform: translate(0px, -20px);
    transition: ease-in-out 0.1s;
    background-color: #dcdcdc;
    color: #0804f9;
  }

  .next-place:hover {
    transform: translate(0px, -20px);
    transition: ease-in-out 0.1s;
    background-color: #dcdcdc;
    color: #e9031f;
  }

  .next-place2:hover {
    transform: translate(0px, -20px);
    transition: ease-in-out 0.1s;
    background-color: #dcdcdc;
    color: #0804f9;
  }

  .next-place3:hover {
    transform: translate(0px, -20px);
    transition: ease-in-out 0.1s;
    background-color: #dcdcdc;
    color: #e9031f;
  }
}
