.desk-none {
  display: none;
}
.mit {
  img {
    width: 100%;
    padding: 30px 30px 30px 0px;
    height: 100px;
  }
}
.siteMap__item ul li a {
  &:hover {
    color: #00a8df;
  }
}
#strategy {
  .listLease__item .info .title {
    font-weight: 300;
  }
}
#accordionExample-1 {
  .col-bar:nth-child(5) {
    width: 12%;
  }
}
#accordionExample-2 {
  .col-bar:nth-child(7) {
    width: 12%;
  }
}

#award {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  padding-bottom: 200px;
}
#cooper {
  svg {
    width: 778.5px;
  }
}
.text-blue {
  color: #11396f;
}
.overview-bg {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: right;
}
.btn {
  border-radius: 0px;
}
.nav-menu .nav-item.hasChild > ul > li > a > span {
  text-transform: initial;
}
.itemNew .new-label {
  vertical-align: middle;
}
.gridNews--2 .itemNew .info .card-text {
}

  .gridNews--2 .itemNew.relatedNews .info .title {
    -webkit-line-clamp: 2 !important;
    font-size: rem(18) !important;
    height: (24/16) * 2em !important;
    max-height: unset;
  }

@include media-breakpoint-down(md) {
  .mt-xs-3{
    margin-top: 1rem !important;
  }
  .nav-menu#sub-menu .nav-item .nav-link {
    font-size: 1.125rem;
  }
  .nav-menu#sub-menu > .nav-item {
    padding-left: 0;
  }
  #accordionExample-1 .col-bar:nth-child(5),
  #accordionExample-2 .col-bar:nth-child(7) {
    width: unset;
  }
  .gridNews--2 .arrow--1 {
    top: calc((100% - 0px) / 2);
  }
  .carousel-indicators.name-indicators {
    bottom: 25px;
  }
  .carousel-indicators.dots-indicators {
    right: 39%;
    bottom: 0px;
  }
  footer.bd-footer .nav-footer > li:after {
    right: -6px;
  }
  .news {
    .titleHeading {
      text-shadow: #000 1px 1px 5px;
    }
  }
  #time-line {
    .timeline ol li:nth-child(odd) .timeline-content {
      padding: 40px 5px;
    }
    .timeline ol li:nth-child(even) .timeline-content {
      padding: 40px 5px;
    }
  }

  .overview-bg {
    background-size: 100%;
  }
  .invesmentNewsList .navLink li {
    padding-top: 0px;
  }
  .location {
    margin: 0px;
    margin-bottom: 1rem;
  }
  #cooper {
    svg {
      width: 100%;
    }
  }
  .popup-overlay .popup {
    min-height: 230px;
    position: relative;
    right: unset;
  }
  #sustainability th,
  #sustainability td {
    width: 100%;
    display: block;
  }
  #award {
    background-position: bottom right;
  }
  .mit {
    img {
      padding: 30px 0px;
    }
  }
  #shareholders .col-md-6:last-child {
    padding-left: 10px;
  }
  .mobile-none {
    display: none;
  }
  .mobile-block {
    display: block;
  }
  .mobile-flex {
    display: flex;
  }

  .ic-video {
    width: 50px;
    height: 35px;
    border-radius: 8px;
  }
  .news .image {
    height: 350px;
  }
  .navLink li {
    display: inline-block;
    padding-top: 0px;
  }
  .plan-css .loader .col-bar {
    width: 100%;
    display: block;
  }
  .plan-css .loader {
    height: 400px;
  }
  .plan-css .loader .col-bar:nth-child(1) {
  }
  .plan-css .loader__bar {
    padding: 20px;

    position: relative;
  }
  #vacancies .tabs-left,
  #vacancies .tabs-right {
    text-align: center;
  }
  .bd-footer {
    .text-right {
      text-align: left !important;
    }
  }
  #time-line .timeline ol > li {
    background-position: left;
    width: 100%;
  }
  .product-list-item .info .title {
    margin-left: 0;
  }
  .product-list-item .info p {
    margin-left: 0;
  }
  .product-list-item .btn-gray {
    margin-left: 0;
  }
  .carousel-indicators.name-indicators li {
    font-size: 1rem;
    padding: 0px 8px;
    margin-bottom: 12px;
  }
}

@include media-breakpoint-down(xs) {
  .order-xs-1 {
    order: 1;
  }
  .navLink li {
    display: inline-block;
  }
}
