.desk-none {
  display: none;
}
.mit-img {
  img {
    width: 100%;
    padding: 30px 30px;
    height: 100px;
  }
}
.siteMap__item ul li a{
  &:hover{
    color: #00a8df;
  }
}
#award{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom right;
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
        padding-bottom: 200px;
}
#cooper{
  svg{
    width: 778.5px;
  }
}
.text-blue{
  color: #11396f;
}
.overview-bg{
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: right;

}
@include media-breakpoint-down(md) {
  .overview-bg{
    background-size: 100%;

  }
  .invesmentNewsList .navLink li{
    padding-top: 0px;
  }
  .location{
    margin:0px;
    margin-bottom: 1rem;
  }
  #cooper{
    svg{
      width: 100%;
    }
  }
  .popup-overlay .popup{
    min-height: 230px;

  }
  #sustainability th, #sustainability td{
    width: 100%;
    display: block;
  }
  #award{
    background-position: bottom right;
  }
  .mit-img {
    img {
      padding: 30px 0px;
    }
  }
  #shareholders .col-md-6:last-child {
    padding-left: 10px;
  }
  .mobile-none {
    display: none;
  }
  .mobile-block {
    display: block;
  }
  .mobile-flex {
    display: flex;
  }

  .ic-video {
    width: 50px;
    height: 35px;
    border-radius: 8px;
  }
  .news .image {
    height: 300px;
  }
  .navLink li {
    display: inline-block;
    padding-top: 0px;
  }
  .plan-css .loader .col-bar {
    width: 100%;
    display: block;
  }
  .plan-css .loader {
    height: 400px;
  }
  .plan-css .loader .col-bar:nth-child(1) {
  }
  .plan-css .loader__bar {
    padding: 20px;

    position: relative;
  }
  #vacancies .tabs-left,
  #vacancies .tabs-right {
    text-align: center;
  }
  .bd-footer {
    .text-right {
      text-align: left !important;
    }
  }
  #time-line .timeline ol > li {
    background-position: left;
    width: 100%;
  }
  .product-list-item .info .title {
    margin-left: 0;
  }
  .product-list-item .info p {
    margin-left: 0;
  }
  .product-list-item .btn-gray {
    margin-left: 0;
  }
  .carousel-indicators.name-indicators li {
    font-size: 1rem;
    padding: 0px 8px;
    margin-bottom: 12px;
  }
}

@include media-breakpoint-down(xs) {
  .order-xs-1 {
    order: 1;
  }
  .navLink li {
    display: inline-block;
  }
}
