
.businessFeatures(data-waypoint="100%")
    .row
        .col-md-4.col-12
            .businessFeatures__item
                h4.businessFeatures__item__title 
                    i.businessFeatures__item__icon.ic_1
                    | Industrial Real Estate Development
                p.businessFeatures__item__text With a best-in-class management team, sizable land holdings and a strong pipeline of future projects, BW Industrial aims to satisfy the rising demand for modern logistics warehouses, build-to-suit and ready-built factories in addition to other industrial related products across all key industrial zones, a catalyst in driving Vietnams economic growth. We will be a key force in the industrial and logistics real estate sector driving the development and upgrade of other sectors such as manufacturing, logistics and processing in the country’s 4.0 industrial revolution.
        .col-md-4.col-12
            .businessFeatures__item
                h4.businessFeatures__item__title 
                    i.businessFeatures__item__icon.ic_2
                    | Speedy Land Acquisitions in Key Economic Zones
                p.businessFeatures__item__text We have acquired over 2,000,000 square meters of projects under development and initial investment of over US$200 million within only 60 days  from our joint venture establishment date. Following the successful execution in the Northern and Southern Economic Zone, BW Industrial will enter the Central Economic with projects in Da Nang, Quang Ngai, and other cities.
        .col-md-4.col-12
            .businessFeatures__item
                h4.businessFeatures__item__title 
                    i.businessFeatures__item__icon.ic_3
                    | Supply Chain Consultancy & Value Added Services
                p.businessFeatures__item__text With BW Industrial staffs' expertise in many different fields, we support investors at all phases of their investment journey from obtaining investment certificate, business registration to recruiting, accounting supports.
    .row
        .col-12
            h4.heading--3 Our road to number 1 is riding on 3 solid guiding principles of BW Industrial
            .image
                img(src=imgDataPath + "business-model/business-model.png")
//+bgImgLink(imgDataPath + 'business-model/business-model.png','image effectImg','#')