h3.titleIcon
    span Headquarter (Binh Duong)
ul.location
    li.location__item
        i.icon_pin
        <strong>Address:</strong> 17/F Becamex Tower, 230 Binh Duong Boulevard, Phu Hoa Ward, Thu Dau Mot City, Binh Duong Province, Vietnam
    li.location__item
        i.icon_phone
        <strong>Tel:</strong> <a href="#">(+84) 274 7300 472</a>
    li.location__item
        i.icon_phone
        <strong>Hotline:</strong> <a href="#">(+84) 899 514 468</a>
    li.location__item
        i.icon_mail
        <strong>Email:</strong> <a href="#">enquiry@MHT Masan.com</a>
h3.titleIcon
    span Branch Office (Bac Ninh)
ul.location
    li.location__item
        i.icon_pin
        <strong>Address:</strong> No.1, Huu Nghi Road, VSIP Bac Ninh, Phu Chan Commune, Tu Son Town, Bac Ninh Province, Vietnam
    li.location__item
        i.icon_phone
        <strong>Hotline:</strong> <a href="#">(+84) 899 516 099</a>
    li.location__item
        i.icon_mail
        <strong>Email:</strong> <a href="#">enquiry@MHT Masan.com</a>
.boxChat
    img(src="/frontend/images/wechat.jpg" alt="")