.row
    .col-lg-4.col-md-3.col-sm-6.col-12
        .logisticList__item
            +bgImgLink(imgDataPath + 'property-type/logistic-1.jpg','image effectImg',url + '/property-type-detail.html')
            .info
                .info__inner
                    a(href= url+ "/property-type-detail.html") 
                        | Building aute dolor
                        i.ic_logistic_arrow
    .col-lg-4.col-md-3.col-sm-6.col-12
        .logisticList__item
            +bgImgLink(imgDataPath + 'property-type/logistic-2.jpg','image effectImg',url + '/property-type-detail.html')
            .info
                .info__inner
                    a(href= url+ "/property-type-detail.html") 
                        | Sed ut perspiciatis unde omnis iste natus error sit
                        i.ic_logistic_arrow
    .col-lg-4.col-md-3.col-sm-6.col-12
        .logisticList__item
            +bgImgLink(imgDataPath + 'property-type/logistic-3.jpg','image effectImg',url + '/property-type-detail.html')
            .info
                .info__inner
                    a(href= url+ "/property-type-detail.html") 
                        | Excepteur sint occaecat
                        i.ic_logistic_arrow
    .col-lg-4.col-md-3.col-sm-6.col-12
        .logisticList__item
            +bgImgLink(imgDataPath + 'property-type/logistic-4.jpg','image effectImg',url + '/property-type-detail.html')
            .info
                .info__inner
                    a(href= url+ "/property-type-detail.html") 
                        | Sed ut perspiciatis unde omnis iste natus error sit
                        i.ic_logistic_arrow
    .col-lg-4.col-md-3.col-sm-6.col-12
        .logisticList__item
            +bgImgLink(imgDataPath + 'property-type/logistic-5.jpg','image effectImg',url + '/property-type-detail.html')
            .info
                .info__inner
                    a(href= url+ "/property-type-detail.html") 
                        | Sed ut perspiciatis unde omnis iste natus error sit
                        i.ic_logistic_arrow
    .col-lg-4.col-md-3.col-sm-6.col-12
        .logisticList__item
            +bgImgLink(imgDataPath + 'property-type/logistic-6.jpg','image effectImg',url + '/property-type-detail.html')
            .info
                .info__inner
                    a(href= url+ "/property-type-detail.html") 
                        | Excepteur sint occaecat
                        i.ic_logistic_arrow
    .col-lg-4.col-md-3.col-sm-6.col-12
        .logisticList__item
            +bgImgLink(imgDataPath + 'property-type/logistic-7.jpg','image effectImg',url + '/property-type-detail.html')
            .info
                .info__inner                
                    a(href= url+ "/property-type-detail.html") 
                        | Sed ut perspiciatis unde omnis iste natus error sit
                        i.ic_logistic_arrow
    .col-lg-4.col-md-3.col-sm-6.col-12
        .logisticList__item
            +bgImgLink(imgDataPath + 'property-type/logistic-8.jpg','image effectImg',url + '/property-type-detail.html')
            .info
                .info__inner
                    a(href= url+ "/property-type-detail.html") 
                        | Sed ut perspiciatis unde omnis iste natus error sit
                        i.ic_logistic_arrow
    .col-lg-4.col-md-3.col-sm-6.col-12
        .logisticList__item
            +bgImgLink(imgDataPath + 'property-type/logistic-9.jpg','image effectImg',url + '/property-type-detail.html')
            .info
                .info__inner
                    a(href= url+ "/property-type-detail.html") 
                        | Excepteur sint occaecat
                        i.ic_logistic_arrow