.innerourPresence(data-waypoint="100%")
    .ourPresenceExpand
        #accordion
            .card
                .card-header#headingOne
                    h5.mb-0
                        button.btn.btn-link.collapsed(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                            | Bac Ninh
                            span 
                                i.ic_arrow_expand
                #collapseOne.collapse(aria-labelledby="headingOne" data-parent="#accordion")
                    .card-body
                        ul.expandInfo
                            li.expandInfo__item
                                a(href="#")
                                    | VSIP Bac Ninh IP
                                span
                                    a(href="#"): i.icon.ic_rbf
                                    a(href="#"): i.icon.ic_btsp
                            li.expandInfo__item
                                a(href="#")
                                    | VSIP Bac Ninh 2 IP
                                span
                                    a(href="#"): i.icon.ic_lw
            .card
                .card-header#headingTwo
                    h5.mb-0
                        button.btn.btn-link.collapsed(data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
                            | Hai Duong
                            span 
                                i.ic_arrow_expand
                #collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordion")
                    .card-body
                        ul.expandInfo
                            li.expandInfo__item
                                a(href="#")
                                    | VSIP Hai Duong IP
                                span
                                    a(href="#"): i.icon.ic_rbf
                                    a(href="#"): i.icon.ic_lw
            .card
                .card-header#headingThree
                    h5.mb-0
                        button.btn.btn-link.collapsed(data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree")
                            | Hai Phong
                            span 
                                i.ic_arrow_expand
                #collapseThree.collapse(aria-labelledby="headingThree" data-parent="#accordion")
                    .card-body
                        ul.expandInfo
                            li.expandInfo__item
                                a(href="#")
                                    | VSIP Hai Phong IP
                                span
                                    a(href="#"):  i.icon.ic_rbf
                                    a(href="#"):  i.icon.ic_btsp
            .card
                .card-header#headingFour
                    h5.mb-0
                        button.btn.btn-link.collapsed(data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour")
                            | Binh Duong
                            span 
                                i.ic_arrow_expand
                #collapseFour.collapse(aria-labelledby="headingFour" data-parent="#accordion")
                    .card-body
                        ul.expandInfo
                            li.expandInfo__item
                                a(href="#")
                                    | Bang Bau IP
                                span
                                    a(href="#"):  i.icon.ic_rbf
                                    a(href="#"):  i.icon.ic_salb
                            li.expandInfo__item
                                a(href="#")
                                    | My Phuoc 3 IP
                                span
                                    a(href="#"):  i.icon.ic_rbf
                                    a(href="#"):  i.icon.ic_salb
                            li.expandInfo__item
                                a(href="#")
                                    | VSIP II IP
                                span
                                    a(href="#"):  i.icon.ic_rbf
            .card
                .card-header#headingFive
                    h5.mb-0
                        button.btn.btn-link.collapsed(data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive")
                            | Dong Nai
                            span 
                                i.ic_arrow_expand
                #collapseFive.collapse(aria-labelledby="headingFive" data-parent="#accordion")
                    .card-body
                        ul.expandInfo
                            li.expandInfo__item
                                a(href="#")
                                    | Nhon Trach IP
                                span
                                    a(href="#"):  i.icon.ic_rbf
                                    a(href="#"):  i.icon.ic_lw