.row
    .col-xl-3.col-sm-6.col-12
        .projectFeatures__item
            .projectFeatures__item__icon
                img(src=url + "assets/images/icons/icon-features-1.svg" alt="")
            h5.projectFeatures__item__title
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit
            p.projectFeatures__item__content Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde 
    .col-xl-3.col-sm-6.col-12
        .projectFeatures__item
            .projectFeatures__item__icon
                img(src=url + "assets/images/icons/icon-features-2.svg" alt="")
            h5.projectFeatures__item__title
                | Excepteur sint occaecat cupidatat non proident
            p.projectFeatures__item__content Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde 
    .col-xl-3.col-sm-6.col-12
        .projectFeatures__item
            .projectFeatures__item__icon
                img(src=url + "assets/images/icons/icon-features-3.svg" alt="")
            h5.projectFeatures__item__title
                | Duis aute irure dolor in reprehenderit in voluptate 
            p.projectFeatures__item__content Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde 
    .col-xl-3.col-sm-6.col-12
        .projectFeatures__item
            .projectFeatures__item__icon
                img(src=url + "assets/images/icons/icon-features-4.svg" alt="")
            h5.projectFeatures__item__title
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit
            p.projectFeatures__item__content Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde 