.projectPictures__wrapper
    .projectPictures__inner
        .projectPictures__item
            +bgImg(imgDataPath + 'property-type/slider-1.jpg','projectPictures__item__images')
        .projectPictures__item
            +bgImg(imgDataPath + 'property-type/slider-2.jpg','projectPictures__item__images')
        .projectPictures__item
            +bgImg(imgDataPath + 'property-type/slider-1.jpg','projectPictures__item__images')
        .projectPictures__item
            +bgImg(imgDataPath + 'property-type/slider-2.jpg','projectPictures__item__images')