.row.projectLocation__inner
    .col-md-3.col-12
        .projectLocation__item
            h4.titleIcon.titleIcon--location
                span Address
            p.projectLocation__item__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    .col-md-6.col-12.d-flex.justify-content-center.break767
        .projectLocation__item
            h4.titleIcon.titleIcon--location
                span Contact Person
            p.projectLocation__item__text <strong>Mr. Smith:</strong> +84 9012345678
    .col-md-3.col-12.text-right.d-flex.align-items-center
        .projectLocation__item
            button(type="submit" class="btn btn-submit") 
                i.icon.fa.fa-envelope
                | Email us