.resultList
    .resultList__category
        span Our businesses
    h3.resultList__title: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    p.resultList__text Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
.resultList
    .resultList__category
        span Our businesses
    h3.resultList__title: a(href="#") Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    p.resultList__text Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
.resultList
    .resultList__category
        span Careers
    h3.resultList__title: a(href="#") Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    p.resultList__text Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
.resultList
    .resultList__category
        span Property leasing
    h3.resultList__title: a(href="#") Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    p.resultList__text Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
.resultList
    .resultList__category
        span Property leasing
    h3.resultList__title: a(href="#") Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    p.resultList__text Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
.resultList
    .resultList__category
        span Media center
    h3.resultList__title: a(href="#") Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    p.resultList__text Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.