extends layouts/_layout_default

block title 
    title BW Industrial Development JSC
    - var mainActive = 'businesses';
block content
    section.mainBeardcrumb(data-waypoint="100%")
        .container
            .row.align-items-center
                .col-12.align-self-center
                    ol.breadcrumb
                        li.breadcrumb-item
                            i.ic_home
                            a(href='/') Home
                        li.breadcrumb-item
                            a(href='/') Property leasing    
                        li.breadcrumb-item.active(aria-current='page') Case studies
    section.chart(data-waypoint="100%")
        .container
            .chart__item
                .chart__item__arrow
                    | F/S & Bussiness Trip
                    .chart__item__arrow__after
                        span
                        span
                .chart__item__content
                    ul
                        li 
                            i.fa.fa-caret-right
                            | Meeting in Vietnam for market survey/ site check and visit
                        li 
                            i.fa.fa-caret-right
                            | Sharing the data for Feasibility Study
                        li 
                            i.fa.fa-caret-right
                            | Full support for Business trips (arrange hotel, rental car, appointment with Authority)
            .chart__item
                .chart__item__arrow
                    | Incorporation
                .chart__item__content
                    ul
                        li 
                            i.fa.fa-caret-right
                            | Providing information/ formats for:Company establishment (IRC — ERC)
                        li 
                            i.fa.fa-caret-right
                            | Proxy service for the Incorporation
            .chart__item
                .chart__item__arrow.bgGreen
                    | Licensing
                .chart__item__content
                    ul
                        li 
                            i.fa.fa-caret-right
                            | Preparing for IRC:— ERC submission:to Authorities
                        li 
                            i.fa.fa-caret-right
                            | Proceeding for Company Chop and:Payment of Business Tax
            .chart__item
                .chart__item__arrow.bgGreen
                    | Account
                .chart__item__content
                    ul
                        li 
                            i.fa.fa-caret-right
                            | Providing documents for Opening Capital account  
                        li 
                            i.fa.fa-caret-right
                            | ProViding information for Accounting systems
            .chart__item
                .chart__item__arrow.bgGreen
                    | Contrucsion
                .chart__item__content
                    ul
                        li 
                            i.fa.fa-caret-right
                            | Providing needed documents for construction
                        li 
                            i.fa.fa-caret-right
                            | Supporting for prOcedures of FF, Fitting works, EIA...
            .chart__item
                .chart__item__arrow.bgGreen
                    | Recruitment
                .chart__item__content
                    ul
                        li 
                            i.fa.fa-caret-right
                            | Providing information for labor recruitment conditions
                        li 
                            i.fa.fa-caret-right
                            | Supporting for labor recruitment by using recruitment board/ organizing and participating in Job Fairs
            .chart__item
                .chart__item__arrow.bgGreen
                    | Operation Support
                .chart__item__content
                    ul
                        li 
                            i.fa.fa-caret-right
                            | Full support for the operation of Tenants(logistics, providing material, machineries)
                        li 
                            i.fa.fa-caret-right
                            | Providing necessary information, contact to different categories of the operation work.
            .chart__item
                .chart__item__arrow.bgRed
                    | Information
                .chart__item__content
                    ul
                        li 
                            i.fa.fa-caret-right
                            | Providing information through Quarterly Newsletter
                        li 
                            i.fa.fa-caret-right
                            | Organizing seminars/ meetings among Tenants for updating legal issues (every half a year)
            .chart__item
                .chart__item__arrow.bgRed
                    | Event
                .chart__item__content
                    ul
                        li 
                            i.fa.fa-caret-right
                            | Organizing Event among Tenants (football, racing...)
                        li 
                            i.fa.fa-caret-right
                            | Organizing Evenli for the development of the society
            .chart__item
                .chart__item__arrow.bgRed
                    | Support by Authority
                .chart__item__content
                    ul
                        li 
                            i.fa.fa-caret-right
                            | Frequent exchanging information among Authoritiesilndustrial Zone Management)  
                        li 
                            i.fa.fa-caret-right
                            | Attending seminar organized by Authorities, getting consultant