extends layouts/_layout_default

block title 
    title BW Industrial Development JSC

block content
    section.mainComming
        .container
            .boxComming
                .info
                    .info__inner
                        span WE ARE
                        h4 Coming Soon
                p.text-center
                    | Please come back later!
                a(href="#") 
                    | CONTACT US
                    i.fa.fa-long-arrow-right