extends layouts/_layout_default

block title 
    title BW Industrial Development JSC
    - var mainActive = 'gallery-2';
block content
    +bgImg(imgDataPath + 'news/media-center-detail.jpg','bgBanner  bgBanner--news')
    section.mainBeardcrumb(data-waypoint="100%")
        .container
            .row.align-items-center
                .col-12.align-self-center
                    ol.breadcrumb
                        li.breadcrumb-item
                            i.ic_home
                            a(href='/') Home
                        li.breadcrumb-item
                            a(href='#') Media Center 
                        li.breadcrumb-item
                            a(href='#') Gallery    
                        li.breadcrumb-item
                            a(href='#') Photo  
                        li.breadcrumb-item.active(aria-current='page') BW Industrial Official Launch
    section.ourNewsDetail
        .container
            h1.titleHeading.titleHeading--content(data-waypoint="100%") BW Industrial Official Launch
            .mediaEffect(data-waypoint="100%")
                .row
                    .col-md-5
                        .date 
                            i.fa.fa-calendar
                            | 11-09-2018
                    .col-md-7
                        .share
                            span.lbl Share
                            a(href="#"): i.fa.fa-facebook
                            a(href="#"): i.fa.fa-linkedin
                            a(href="#"): i.fa.fa-google-plus
                .slideDetail
                    .bigImg
                        .bigImg__item
                            +bgImg(imgDataPath + 'news/big.jpg','image effectImg')
                        .bigImg__item   
                            +bgImg(imgDataPath + 'news/big.jpg','image effectImg')   
                        .bigImg__item
                            +bgImg(imgDataPath + 'news/big.jpg','image effectImg')   
                        .bigImg__item
                            +bgImg(imgDataPath + 'news/big.jpg','image effectImg')   
                        .bigImg__item
                            +bgImg(imgDataPath + 'news/big.jpg','image effectImg')   
                        .bigImg__item
                            +bgImg(imgDataPath + 'news/big.jpg','image effectImg')   
                    .navImg
                        .navImg__item  
                            +bgImg(imgDataPath + 'news/thumb01.jpg','image effectImg')
                        .navImg__item  
                            +bgImg(imgDataPath + 'news/thumb02.jpg','image effectImg')
                        .navImg__item  
                            +bgImg(imgDataPath + 'news/thumb03.jpg','image effectImg')
                        .navImg__item  
                            +bgImg(imgDataPath + 'news/thumb04.jpg','image effectImg')
                        .navImg__item  
                            +bgImg(imgDataPath + 'news/thumb05.jpg','image effectImg')
                        .navImg__item  
                            +bgImg(imgDataPath + 'news/thumb02.jpg','image effectImg')

            .relativeBox.mediaEffect-2(data-waypoint="100%")
                .titleHeading--news related photos
                .gridNews--2.gridNewsPhoto.slideNews   
                    +newsItemSlide(imgDataPath + 'news/img7.jpg',url + 'media-center-news-photo-detail.html','otherstyle')
                    +newsItemSlide(imgDataPath + 'news/img9.jpg',url + 'media-center-news-photo-detail.html','otherstyle')
                    +newsItemSlide(imgDataPath + 'news/img10.jpg',url + 'media-center-news-photo-detail.html','otherstyle')
                    +newsItemSlide(imgDataPath + 'news/img8.jpg',url + 'media-center-news-photo-detail.html','otherstyle')
                    +newsItemSlide(imgDataPath + 'news/img9.jpg',url + 'media-center-news-photo-detail.html','otherstyle')
                    +newsItemSlide(imgDataPath + 'news/img10.jpg',url + 'media-center-news-photo-detail.html','otherstyle')