extends layouts/_layout_default

block title 
    title BW Industrial Development JSC
    - var mainActive = 'sitemap';
block content
    section.mainBeardcrumb(data-waypoint="100%") 
        .container
            .row.align-items-center
                .col-12.align-self-center
                    ol.breadcrumb
                        li.breadcrumb-item
                            i.ic_home
                            a(href='#') Home
                        li.breadcrumb-item.active(aria-current='page') Sitemap
    section.mainContact
        .container
            h1.titleHeading(data-waypoint="100%")  Site map
            .siteMapWrapper(data-waypoint="100%") 
                .siteMapWrapper__item
                    .row
                        .col-md-4
                            .titleHeading--news.colorMain about us
                            ul.siteMap
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong Our Company
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong Vision & Values
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong Core Management Team
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong Milestones
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong Fund management
                        .col-md-4
                            .titleHeading--news.colorMain our businesses
                            ul.siteMap
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong Business model
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong Property Type
                                    ul
                                        li
                                            a(href="")
                                                i.fa.fa-caret-right
                                                | Logistics warehouse
                                        li
                                            a(href="")
                                                i.fa.fa-caret-right
                                                | Ready-built factory
                                        li
                                            a(href="")
                                                i.fa.fa-caret-right
                                                | Built-To-Suit Project
                                        li
                                            a(href="")
                                                i.fa.fa-caret-right
                                                | Sale and Lease back
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong Our Presence
                        .col-md-4
                            .titleHeading--news.colorMain property leasing
                            ul.siteMap
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong Property for lease
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong Our customer
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong Casestudies
                .siteMapWrapper__item
                    .row
                        .col-md-4
                            .titleHeading--news.colorMain media center
                            ul.siteMap
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong Gallery
                                    ul
                                        li
                                            a(href="")
                                                i.fa.fa-caret-right
                                                | Photo
                                        li
                                            a(href="")
                                                i.fa.fa-caret-right
                                                | Video
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong News
                                    ul
                                        li
                                            a(href="")
                                                i.fa.fa-caret-right
                                                strong News for Investor
                                            ul
                                                li
                                                    a(href="")
                                                        i.fa.fa-angle-right
                                                        | Law
                                                li
                                                    a(href="")
                                                        i.fa.fa-angle-right
                                                        | Economic
                                        li
                                            a(href="")
                                                i.fa.fa-caret-right
                                                strong BW Industrial News
                                            ul
                                                li
                                                    a(href="")
                                                        i.fa.fa-angle-right
                                                        | Activities of BW Industrial
                                                li
                                                    a(href="")
                                                        i.fa.fa-angle-right
                                                        | Activities of Investors
                        .col-md-4
                            .titleHeading--news.colorMain media center
                            ul.siteMap
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong BW Industrial Culture
                                li.siteMap__item
                                    a(href="#") 
                                        i.fa.fa-arrow-circle-o-right 
                                        strong Current Opening
                        .col-md-4
                            .titleHeading--news.colorMain contact us